@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.addproduct-main {
  font-family: "Open Sans", sans-serif;
  background: #f9faff;
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 0;
  /* padding-bottom: 90px; */
}

.addproduct-main > h1 {
  margin-top: 48px;
}

.addproduct-main > form {
  background: #fff;
  max-width: 760px;
  width: 100%;
  padding: 58px 44px;
  border: 1px solid #e1e2f0;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
}

.addproduct-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.addproduct-row label {
  font-size: 13px;
  color: #8086a9;
}

.addproduct-row input {
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.addproduct-row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.addproduct-row input::placeholder {
  color: #c8cddf;
}

.addproductbtn {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #15c39a;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}

.addproductbtn:hover {
  background: #55d3ac;
}

@media (max-width: 458px) {
  .addproduct-main {
    margin: 0 18px;
  }

  .addproduct-main form {
    background: #f9faff;
    border: none;
    box-shadow: none;
    padding: 20px 0;
  }
}
